@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Not Found</title>
</head>
<body>
    <div>
        <h3>We're sorry! :(</h3>
        <h4>The product you're trying to check was not found.</h4>
    </div>
    <p>
        @Html.ActionLink("Return to List", "Index")
    </p>
</body>
</html>
