@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        this is our home page
        <div>
            there will be a login and recent added products
        </div>
        <div>
            @Html.ActionLink("View Products", "Index", "Products")
        </div>
    </div>
</body>
</html>
